attrs
blinker
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
colorama
confection
cryptography
cymem
decorator
docx2txt
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
entrypoints
gitdb
GitPython
idna
importlib-metadata
Jinja2
joblib
langcodes
le
murmurhash
nltk
numpy
packaging
pandas
pdfplumber
Pillow
preshed
pycparser
pydantic
PyMuPDF
PyPDF2
pyreadstat
python-dateutil
pytz
regex
requests
six
smart-open
spacy
srsly
streamlit
thinc
tqdm
typer
typing-extensions
urllib3
validators
wasabi
zipp